<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.msp.dao.UserPasswordDao">
    <select id="findPasswordByUserId" resultType="com.msp.pojo.UserPasswordDO">
      select msp_user_password.id, msp_user_password.encrypt, msp_user_password.user_id
      from msp_user_password
      where msp_user_password.user_id = #{uid}
    </select>
    <!--<select id="" resultType="">-->
    <!--</select>-->
    <!--<insert id="" useGeneratedKeys="false">-->
    <!--</insert>-->
    <!--<update id="" useGeneratedKeys="false">-->
    <!--</update>-->
    <!--<delete id="">-->
    <!--</delete>-->
</mapper>