<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.msp.dao.UserInfoDao">
    <resultMap id="userInfoMap" type="com.msp.pojo.UserInfoDO">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="gender" property="gender"/>
        <result column="age" property="age"/>
        <result column="telphone" property="telphone"/>
        <result column="register_mode" property="registerMode"/>
        <result column="third_id" property="thirdId"/>
    </resultMap>

    <!-- -->
    <select id="find" resultType="com.msp.pojo.UserInfoDO" resultMap="userInfoMap">
        select  msp_user_info.id,
                msp_user_info.name,
                msp_user_info.gender,
                msp_user_info.age,
                msp_user_info.telphone,
                msp_user_info.register_mode,
                msp_user_info.third_id
        from msp_user_info
        order by msp_user_info.id asc;
    </select>

    <!-- -->
    <select id="findById" resultType="com.msp.pojo.UserInfoDO" resultMap="userInfoMap">
        select  msp_user_info.id,
                msp_user_info.name,
                msp_user_info.gender,
                msp_user_info.age,
                msp_user_info.telphone,
                msp_user_info.register_mode,
                msp_user_info.third_id
        from msp_user_info
        where msp_user_info.id = #{id};
    </select>

    <!-- -->
    <select id="findByTelphone" resultType="com.msp.pojo.UserInfoDO" resultMap="userInfoMap">
        select  msp_user_info.id,
                msp_user_info.name,
                msp_user_info.gender,
                msp_user_info.age,
                msp_user_info.telphone,
                msp_user_info.register_mode,
                msp_user_info.third_id
        from msp_user_info
        where msp_user_info.telphone = #{telphone};
    </select>

    <!-- -->
    <!--<select id="" resultType="" resultMap="">-->
    <!--</select>-->

    <!-- -->
    <select id="getMaxId" resultType="java.lang.Integer">
        select max(msp_user_info.id)
        from msp_user_info;
    </select>




    <!-- -->
    <insert id="add" useGeneratedKeys="true" keyProperty="id">
        insert
        into msp_user_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="null != #{user.name}">
                name,
            </if>
            <if test="null != #{user.gender}">
                gender,
            </if>
            <if test="null != #{user.age}">
                age,
            </if>
            <if test="null != #{user.telphone}">
                telphone,
            </if>
            <if test="null != #{user.registerMode}">
                register_mode,
            </if>
            <if test="null != #{user.thirdId}">
                third_id,
            </if>
        </trim>
        <trim prefix="values(" suffix=");" suffixOverrides=",">
            <if test="null != #{user.name}">
                #{user.name},
            </if>
            <if test="null != #{user.gender}">
                #{user.gender},
            </if>
            <if test="null != #{user.age}">
                #{user.age},
            </if>
            <if test="null != #{user.telphone}">
                #{user.telphone},
            </if>
            <if test="null != #{user.registerMode}">
                #{user.registerMode},
            </if>
            <if test="null != #{user.thirdId}">
                #{user.thirdId},
            </if>
        </trim>
    </insert>



    <!-- -->
    <update id="update" useGeneratedKeys="true" keyProperty="id">
        update msp_user_info
        <trim prefix="set" suffixOverrides=",">
            <if test="null != #{user.name}">
                msp_user_info.name = #{user.name},
            </if>
            <if test="null != #{user.gender}">
                msp_user_info.gender = #{user.gender},
            </if>
            <if test="null != #{user.age}">
                msp_user_info.age = #{user.age},
            </if>
            <if test="null != #{user.telphone}">
                msp_user_info.telphone = #{user.telphone},
            </if>
            <if test="null != #{user.registerMode}">
                msp_user_info.register_mode = #{user.registerMode},
            </if>
            <if test="null != #{user.thirdId}">
                msp_user_info.third_id = #{user.thirdId},
            </if>
        </trim>
        where msp_user_info.id = #{user.id};
    </update>



    <!-- -->
    <delete id="delete">
        delete
        from msp_user_info
        where msp_user_info.id = #{id};
    </delete>
</mapper>