<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.msp.dao.UserPasswordDao">
    <resultMap id="userPasswordDoMap" type="com.msp.pojo.UserPasswordDO">
        <id property="id" column="id"/>
        <result property="encrypt" column="encrypt"/>
        <result property="userId" column="user_id"/>
    </resultMap>
    <select id="findPasswordByUserId" resultType="com.msp.pojo.UserPasswordDO" resultMap="userPasswordDoMap">
        select  msp_user_password.id,
                msp_user_password.encrypt,
                msp_user_password.user_id
        from msp_user_password, msp_user_info
        where msp_user_password.user_id = msp_user_info.id
    </select>
    <select id="getMaxId" resultType="java.lang.Integer">
        select max(msp_user_password.id)
        from msp_user_password;
    </select>
    <insert id="add" useGeneratedKeys="false">
        insert
        into
    </insert>
    <insert id="addSelection" useGeneratedKeys="true" keyProperty="id">
        insert
        into msp_user_password
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="null != password.encrypt">
                encrypt,
            </if>
            <if test="null != password.userId">
                user_id,
            </if>
        </trim>
        <trim prefix="values(" suffix=");" suffixOverrides=",">
            <if test="null != password.encrypt">
                #{password.encrypt},
            </if>
            <if test="null != password.userId">
                #{password.userId},
            </if>
        </trim>
    </insert>
    <!--<select id="" resultType="">-->
    <!--</select>-->
    <!--<insert id="" useGeneratedKeys="false">-->
    <!--</insert>-->
    <!--<update id="" useGeneratedKeys="false">-->
    <!--</update>-->
    <!--<delete id="">-->
    <!--</delete>-->
</mapper>